body {
  font-family: "Helvetica Neue";
  background-color: black;
  color: #E5E5E5;
}

h1 {
  margin: 0px;
  font-size: 40px;
}

p {
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 0px 25px;
}

#player {
  border: 1px solid white;
}
