<html>
  <head>
    <title>Swifties</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Swifties</h1>
      <p>Prove you're a loyal fan by watching this music video!</p>
      <div id="player"></div>
      <p>You have <b>{{view_count}}</b> views.</p>
    </div>
    <script src="/static/counters.js"></script>
    <script src="{{ url_for('static', filename='ads.js') }}"></script>
    <script src="{{ url_for('static', filename='analytics.js') }}"></script>
    <script src="{{ url_for('static', filename='animations.js') }}"></script>
    <script src="{{ url_for('static', filename='checks.js') }}"></script>
    <script src="{{ url_for('static', filename='leftpad.js') }}"></script>
    <script src="{{ url_for('static', filename='music_player.js') }}"></script>
    <script src="{{ url_for('static', filename='tracking.js') }}"></script>
    <script src="{{ url_for('static', filename='views.js') }}"></script>
    <script src="{{ url_for('static', filename='youtube.js') }}"></script>
  </body>
</html>
